{% extends 'common/base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}
    Change your Payment Details | Barendo Systems
{% endblock %}
{% block content %}

    <div style="background-color: #f4f4f4">
        <br>
        <div class="row mx-3 mx-sm-4 mx-md-5 pb-4">
            <div class="container col-md-8 col-12 order-md-1 order-2 mt-4 mt-md-0">
                <div class="container w-100 shadowed-div"
                     style="margin-inline-end: 1%; background-color: white; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); border-radius: 5px;">
                    <div class="pt-3 ps-3 d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-check-circle-fill" style="color: grey; margin-right: 8px;"></i>
                            <h6 class="mb-0">1. Customer Address</h6>
                        </div>
                    </div>
                    <hr style="margin: 5px 0 15px 0;">
                </div>
                <div class="container w-100 shadowed-div"
                     style="margin-inline-end: 1%; background-color: white; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); border-radius: 5px;">
                    <div class="pt-3 ps-3 d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-check-circle-fill" style="color: green; margin-right: 8px;"></i>
                            <h6 class="mb-0">2. Delivery Details</h6>
                        </div>
                        <a href="" class="text-decoration-none" style="color: #3bc9fd"></a>
                    </div>
                    <hr style="margin: 5px 0 15px 0;">
                </div>

                <div class="container w-100 shadowed-div"
                     style="margin-inline-end: 1%; background-color: white; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); border-radius: 5px;">
                    <div class="pt-3 ps-3 d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-check-circle-fill" style="color: green; margin-right: 8px;"></i>
                            <h6 class="mb-0">3. Payment Details</h6>
                        </div>
                    </div>
                    <hr style="margin: 2px 0 5px 0;">
                    <div class="row px-2 align-items-center">
                        <div class="payment-options p-3 rounded" style="">
                            <form action="{% url 'order:update_payment_details' %}" method="post" onsubmit="return validateForm()" id="radioForm">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6 col-12">

                                        <h5>Select Payment Date</h5>
                                        <div class="form-check mt-2">
                                            <input type="radio" class="form-check-input" name="paymentDate" value="now">
                                            <label class="form-check-label" for="payNowRadio" >Pay Now</label>
                                        </div>
                                        <div class="form-check mt-2">
                                            <input type="radio" class="form-check-input" name="paymentDate" value="on_delivery">
                                            <label class="form-check-label" for="payOnDeliveryRadio">Pay on
                                                Delivery</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div id="additionalPaymentOptions" class="mt-2">
                                            <h5>Choose Payment Method</h5>
                                            <div class="form-check mt-2 d-flex align-items-center">
                                                <input type="radio" class="form-check-input" name="paymentMethod"
                                                       id="paypalRadio" value="paypal">&nbsp;&nbsp;
                                                <label class="form-check-label" for="paypalRadio">PayPal</label> &nbsp;&nbsp;&nbsp;
                                                <img src="{% static 'svg/paypal-svgrepo-com.svg' %}" alt=""
                                                     style="height: 40px ;">
                                            </div>
                                            <div class="form-check mt-2 d-flex align-items-center">
                                                <input type="radio" class="form-check-input" name="paymentMethod"
                                                       id="mpesaRadio" value="mpesa">&nbsp;&nbsp;
                                                <label class="form-check-label" for="mpesaRadio">M-Pesa</label> &nbsp;&nbsp;&nbsp;
                                                <img src="{% static 'svg/M-PESA.png' %}" alt="m-pesa"
                                                     style="height: 20px;">
                                            </div>
                                            <div class="form-check mt-2 d-flex align-items-center">
                                                <input type="radio" class="form-check-input" name="paymentMethod"
                                                       id="creditCardRadio" value="credit/debit">&nbsp;&nbsp;
                                                <label class="form-check-label" for="creditCardRadio">Credit/Debit
                                                    Card</label> &nbsp;
                                                <img src="{% static 'svg/visa-svgrepo-com.svg' %}" alt=""
                                                     style="height: 40px ;">
                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="d-flex justify-content-end">
                                        <button type="submit" href="" class="btn btn-outline-success">Confirm details</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <hr style="margin: 5px 0 15px 0;">
                </div>
            </div>

            <!-- Right Section: Order Summary -->
            <div class="container p-2 col-md-3 col-11 order-md-2 order-1 h-50"
                 style="background-color: white; box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); border-radius: 5px;">
                <h5 class="lead fs-6">Order Summary:</h5>
                <hr style="margin: 10px 0 10px 0;">
                <div class="d-flex justify-content-between pe-3">
                    <h6 class="">Item's total</h6>
                    <h6><strong>Ksh. {{ cost|format_number }}</strong></h6>
                </div>
                <div class="d-flex justify-content-between pe-3">
                    <h6 class="">Delivery Fees</h6>
                    <h6><strong>Ksh. {{ cost|format_number }}</strong></h6>
                </div>
                <hr style="margin: 10px 0 10px 0;">
                <div class="d-flex justify-content-between pe-3">
                    <h6 class="">Total:</h6>
                    <h6><strong>Ksh. {{ cost|format_number }}</strong></h6>
                </div>
                <hr style="margin: 10px 0 10px 0;">
                <div class="d-flex justify-content-center">
                    <button class="btn btn-secondary text-center w-100" disabled>
                        Confirm Order
                    </button>
                </div>
            </div>
        </div>


    </div>
    <script>
        function validateForm(){
            const paymentDate = document.querySelector('input[name="paymentDate"]:checked');
            const paymentMethod = document.querySelector('input[name="paymentMethod"]:checked');
            
            if (!paymentDate || !paymentMethod){
                alert("Please selecta a payment date and a payment method!");
                return false;
            }
            
            return true;
            
        }
        
    </script>
{% endblock %}